/* ----------- FUENTES      */ 
	body,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.lato{
		font-family: 'Lato', sans-serif;
	}
	.ques,
	body{
		font-family: 'Lato', sans-serif;
		font-size: 18px;
	}

/* ----------- COLORES      */
	a,
	a:hover,
	.uk-navbar-dropdown-nav>li>a,
	.color-general{
		color: black;
	}
	em,
	.buybutton,
	.uk-navbar-dropdown-nav>li>a:hover,
	.color-primary,
	.color-primary-hover:hover{
		color: #544b40;
	}
	.buybutton:hover,
	.social,
	.color-secondary{
		color: #ff2c25;
	}
	.color-secondary-1{
		color: white;
		text-shadow: -4px -1px 0px #204065;
	}
	.color-verde{
		color: #22cf5b;
	}
	.color-rojo{
		color: #c4262e;
	}
	.color-rojo-vivo{
		color: #ff0000;
	}
	.color-gris-9{
		color: #8c8b8b;
	}
	.color-gris-7{
		color: #777;
	}
	.color-gris-6{
		color: #666;
	}
	.color-gris-4{
		color: #444;
	}
	.color-gris{
		color: #a7a6a4;
	}
	.color-gris-3{
		color: #333;
	}
	.color-gris-2{
		color: #222;
	}
	.color-gris-a,
	.color-gris-a:hover{
		color: #a6a8ab;
	}
	.color-gris-d{
		color: #ddd;
	}
	.uk-accordion-title:focus,
	.uk-accordion-title:hover,	
	.textfooter li a,
	.color-blanco,
	.color-blanco:hover,
	.ui-datepicker-calendar a{
		color: white;
	}
	.uk-slidenav,
	.color-negro{
		color: black;
	}
	.color-dorado{
		color: #bf9d59!important;
	}

/* ----------- FONDOS       */
	.bg-primary{
		background:#bf9d59;
	}
	.ajax-file-upload{
		background:#bf9d59!important;
	}
	.bg-secondary{
		
	}
	
	.uk-slidenav,
	.bg-none{
		background: none;
	}
	.bg-danger,
	.bg-red{
		background: #e30613;
	}
	.bg-success{
		background: #32d296;
	}
	.bg-blue{
		background: #bf9d59;
	}
	.bg-warning,
	.bg-yellow{
		background: #f6b61a;
	}

	.uk-navbar-dropdown,
	.bg-white{
		background: white;
	}
	.bg-gris-claro{
		background: #DDD;
	}
	.bg-gris{
		background: #888;
	}
	.uk-subnav-pill > .uk-active > a,
	.bg-gris-oscuro{
		background: #444;
	}
	.bg-black{
		background: black;
	}

	.bg-dark{
		background: rgba(0,0,0,.8);
	}
	.bg-oscuro{
		background: rgba(0,0,0,.5);
	}
	.bg-claro{
		background: rgba(250,250,250,.7);
	}

	.bg-test1{
		background: #ff0;
	}
	.bg-test2{
		background: #f0f;
	}
	.bg-test3{
		background: #0ff;
	}
	.grayscale{
		filter: grayscale(100%);
	}
	.grayscale:hover{
		filter: grayscale(0%);
		transition: .5s;
	}

/* ----------- NAVEGACIÓN   */
	#navegacion{
	}
	.uk-navbar-nav > li > a,
	.uk-navbar-item,
	.uk-navbar-toggle {
		border-bottom: solid 3px transparent;
		color: black;
		font-family: 'Nunito', sans-serif;
		font-size: 1em;
		padding: 0 20px;
		min-height: 50px;
		text-transform: capitalize;
	}
	.uk-navbar-nav > li.uk-active > a,
	.uk-navbar-nav > li:hover > a,
	.uk-navbar-nav > li > a:focus,
	.uk-navbar-nav > li > a.uk-open {
		border-bottom: solid 3px #7ab3c7;
		color: black;
		outline: none;
	}
	.uk-navbar-dropdown-nav{
		text-align: left;
	}
	.uk-navbar-dropdown {
		margin: 0;
	}
	.uk-navbar-dropdown-nav>li>a{
		font-size: 18px;
		margin: 0;
		padding-left: 5px;
	}


	/* Off canvas */
	.uk-offcanvas-bar{
		background: #fff;
		width:100%;
	}
	.uk-offcanvas-bar a{
		color: #CCC;
		font-size: 1em!important;
		text-align: left!important;
		padding-left: 10px!important;
		  transition: 0.5s;
	}
	.uk-offcanvas-bar .menu-txt{
		color: #000;
		font-size: 1em!important;
		text-align: left;
		padding-left:0!important;
		  transition: 0.5s;
	}

	.uk-offcanvas-bar a:hover{
		color:#bf9d59;
	}

	.uk-offcanvas-bar li{
		border-radius: 10px;
		margin-top: 5px;
	}

	.uk-offcanvas-bar .uk-nav-sub a{
		padding-left: 20px;
	}

/* ----------- TEMPLATE     */

	.uk-pagination li{
		padding-left: 5px;
	}
	.uk-pagination a{
		padding: 2px 10px;
		border-radius: 100%;
		background: white;
		border: #544b40 1px solid; 
		color: #544b40;
	}
	.uk-pagination .uk-active,
	.uk-pagination a:hover{
		background: #544b40;
		color: white;
		border: #544b40 1px solid;
	}
	.pagination-arrows{
		background: none!important;
		border: none!important;
		color: #544b40!important;
	}
	/* ----------- CSS ----------- */
		/* ----------- PAGINAS ----------- */
		/* ----------- GENERALES ----------- */
		.uk-notification-message div,
		.uk-notification-message{
			margin:0!important;
			padding:0!important
		}
		.uk-notification,
		.uk-notification-bottom-center, .uk-notification-top-center{
			margin:0!important;
			padding:0!important
		}
		.uk-notification {
		    position: fixed;
		    top: 0!important;
		    left:0!important;
		    margin:0!important;
			padding:0!important
		    z-index:9999999;
		    box-sizing: border-box;
		    width:100vw!important;
		}
		.container_empezar h2{
			margin-top:80px;
			font-size: 40px!important;
		}
		.container_empezar .h2-buttom {
		    padding-bottom: 20px;
		}
		.container_empezar .empezamos p{
			font-size:17px!important;
			font-weight:100!important;
		}
		.nombre_m{color:#000;
			font-size:10px}
		.nombre_ver{
			opacity:1!important;
			color:#bf9d59!important;
			font-size:10px;
			margin:0;
			padding:0;
		}
		.uk-disabled{
			opacity: 0.5;
		}
		.btn_hiden{
			display: none;
		}
		.text_menu{
			border-left: solid #000;
            padding: 0;
            margin: 0;
            margin: 20px 26px 10px 8px;
		}
		#close-menu svg:not(:root) {
		    overflow: hidden;
		    width: 100px;
		}
		.container-btn{
		  display: flex;
		}
		.btn {
		  flex: 1 1 auto;
		  text-align: center;
		  text-transform: uppercase;
		  transition: 0.5s;
		 }
		.btn .color-dorado{
			color:#bf9d59!important;
		}
		.btn:hover {
			color:#bf9d59!important; 
		}
		.btn:hover .color-negro{
			color:#bf9d59!important;
		}
		.btn:hover .color-dorado{
			color:#000!important;
		}
		.uk-transition-active.uk-active .uk-transition-fade, .uk-transition-toggle:focus .uk-transition-fade, .uk-transition-toggle:hover .uk-transition-fade
		{background: rgba(1, 1, 1, 0.6);
		}
		.uk-h4{
			color:#fff;
			font-weight:600;
		}
		.logo-animate{
			margin-top:30px;
		  -webkit-animation:flip 3s infinite alternate; 
		  animation:flip 3s infinite alternate;
		}
		.left-animate{
		  -webkit-animation:slideOutLeft 3s infinite alternate; 
		  animation:slideOutLeft 3s infinite alternate;
		}
		.right-animate{
		  -webkit-animation:slideOutRight 3s infinite alternate; 
		  animation:slideOutRight 3s infinite alternate;
		}
		.zoomIn-animate{
		  -webkit-animation:shake 2s infinite alternate; 
		  animation:shake 2s infinite alternate;
		}
		.costo-animate{
		  -webkit-animation:slideInLeft 2s alternate; 
		  animation:slideInLeft 2s alternate;
		}
		.pulse-animate{
		  -webkit-animation:fadeOut 3s infinite alternate; 
		  animation:fadeOut 3s infinite alternate;
		}
		.bounce-animate{
		  -webkit-animation:bounce 3s infinite alternate; 
		  animation:bounce 3s infinite alternate;
		}
		.fadeInDown-animate{
		  -webkit-animation:fadeInDown 2s alternate; 
		  animation:fadeInDown 2s alternate;
		}
		.jello-animate{
		  -webkit-animation:jello 3s infinite alternate; 
		  animation:jello 3s infinite alternate;
		}
		.rotateOut-animate{
		  -webkit-animation:rotateOut 3s infinite alternate; 
		  animation:rotateOut 3s infinite alternate;
		}
		.shake-animate{
		  -webkit-animation:shake 3s infinite alternate; 
		  animation:shake 3s infinite alternate;
		}
		.animate-pulse{
		  -webkit-animation:pulse 4s alternate; 
		  animation:pulse 4s alternate;
		}

		.ir{
			background:transparent;
			width:100%;
			height:100%;
			display:none;
			
		}
		.proyecto-animate:hover{
		  -webkit-animation:pulceOut 1s  alternate; 
		  animation:pulceOut 1s  alternate;
		}
		.proyecto-animate:hover .ir{
			background: rgba(0, 0, 0, 0, 0.4);
			display: block;
			-webkit-transition: all .5s ease;
			-moz-transition: all .5s ease;
			-o-transition: all .5s ease;
			transition: all .5s ease;
		}
		*:focus { outline: none; } 
		.full-container{
		height:100vh;margin:0;padding:0;width:100%;
		}
		.margin-right-40header{
			margin-right:40px!important
		}
		.margin-right-30header{
			margin-right:20px!important
		}
		.header-text{
			font-size:20px; 
			padding-top:40px; 
			padding-right:40px;
			color:#000
		}
		.menu-list{
			margin:0;
			padding:0;
			list-style:none;
		}
		.menu-list{
			
		}
		.menu-list li{
			margin:0;
			padding:0;
			list-style:none;
			font-size: 58px;
    		line-height:67px;
		}
		.menu-list li a{
			margin:0;
			padding:0;
			transition:.2s;
		}
		.menu-list li a:hover{
			
		}
		.btn4{
		  position: relative;
		  text-decoration: none;
		}
		/*======= la linea =======*/
		.btn4::before {
		  content: '';
		  position: absolute;
		  bottom:2px;
		  left: 0px;
		  width:78%;
		  height:4px;
		  background:#bf9d59;
		  display: block;
		  -webkit-transform-origin: right top;
		  -ms-transform-origin: right top;
		  transform-origin: right top;
		  -webkit-transform: scale(0, 1);
		  -ms-transform: scale(0, 1);
		  transform: scale(0, 1);
		  -webkit-transition: transform 0.1s cubic-bezier(1, 0, 0, 1);
		  transition: transform 0.1s cubic-bezier(1, 0, 0, 1)
		}
		.btn4:hover::before {
		  -webkit-transform-origin: left top;
		  -ms-transform-origin: left top;
		  transform-origin: left top;
		  -webkit-transform: scale(1, 1);
		  -ms-transform: scale(1, 1);
		  transform: scale(1, 1)
		}
		.uk-offcanvas-overlay .uk-close::before{
			-webkit-animation:pulse 8s alternate; 
		    animation:pulse 8s alternate;
		    border: solid purple;
		}
		.bordes-0{
			margin:0;
			padding:0;
		}
		.cero-bordes{
			margin:0!important;
			padding:0!important;
		}
		.height-100{
			height:100vh
		}
		.height-90{
			height:90vh
		}
		.height-20{
			height:8vh;
		}
		.box-shadown{
			-webkit-box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.75);
			box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.75);
		}
		h2{
			font-size:50px!important;
			margin:0;
			padding:0
		}
		h3{
			color:#bf9d59;
			font-size:36px!important; 
			font-weight:700;
			margin:0;
			padding:0
		}
		h4{
			color:#000;
			font-size:34px!important; 
			font-weight:100;
			margin:0;
			padding:0;
			padding-top:11px;
			padding-left:24px;
		}
		.h2-buttom{
			padding-bottom:40px
		}
		.p,
		.p p{
			color:#000!important;
    		font-size:1.1em;
		}
		.text-dorado{
			color:#bf9d59
		}
		.margins-top-20{
			margin-top:0;
		}

		#menu {
		  text-transform: uppercase;
		  font-size: 21px;
		  left: 50%;
		}
		#menu:nth-child(2) {
		  margin-left: -25px;
		}
		.texto-vertical-2 {
			font-size:20px;
			padding:0 10px;
		  writing-mode: vertical-lr;
		  transform: rotate(180deg);
		}
		.uk-icon{
			padding:8px 4px!important;
		}
		.hr-small{
			border-top: solid #bf9d59;
		    height:1px;
		    margin:14px 0;
		    padding:0;
		    width:50px;
		}
		.services{
			margin:0;
		    padding:0;
		}
		.services li{
			list-style:none;
			margin:0;
			font-size:25px;
		    padding:0;
		}
		.services li a{
			margin:0;
		    padding:0;
		}
		.width-56{width:56px}
		.position-submenu{
			bottom:2%;
			position:absolute;
		}
		.btn-width-70{
			width:70%!important;
		}
		.btn-width-80{
			width:80%!important;
		}
		.menu-pc{
			display:block!important;
			opacity:1!important;
		}
		.menu-movil{
			display: none!important;
			opacity: 0!important;
		}
		.uk-close:hover{
			border:solid transparent!important;
		}
		#modal-center .uk-close,
		#modal-center .uk-close:hover{
			background: transparent;
		}
		#modal-center input{
			color:#fff;
			border-bottom:solid #fff;
			font-size:14px;
			padding:6px;
			margin-bottom:10px;
			width:100%;
		}
		#modal-center .uk-checkbox{
			border:solid 2px #fff!important;
		}
		#modal-center input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color:#fff;
		}
		#modal-center input::-moz-placeholder { /* Firefox 19+ */
		  color:#fff;
		}
		#modal-center input:-ms-input-placeholder { /* IE 10+ */
		  color:#fff;
		}
		#modal-center input:-moz-placeholder { /* Firefox 18- */
		  color:#fff;
		}
		#modal-center input:focus {
			color: #bf9d59;
			border-bottom:solid #bf9d59;
			
		}
		#modal-center .uk-checkbox:checked, 
		#modal-center .uk-checkbox:indeterminate, 
		#modal-center .uk-radio:checked{
			background:#transparent
			border:solid 1px #fff;
		}
		#modal-center .uk-checkbox:focus, 
		#modal-center .uk-radio:focus{
			border-color: transparent;
		}
		#modal-center .uk-checkbox:checked, 
		#modal-center .uk-checkbox:indeterminate, 
		#modal-center .uk-radio:checked{
			background:#bf9d59;
		}
		#modal-center .uk-button-primary{
			background:#fff;
			color:#000;
		}
		#modal-center .uk-button-primary:hover{
			background:#bf9d59;
			color:#fff;
		}
		.container-form h3{
			color:#bf9d59;
			font-weight:400
		}
		.container-form .pad-50{
			margin-top:50px
		}
		.container-form .borde-1{
			border: solid #bf9d59 2px;
			background: #fff;
			margin-left:0;
			padding-top:8px;
			height:36px;
			position: relative;
			width:90%;
			z-index: 1;
		}
		.container-form .borde-2{border: solid #bf9d59 2px;
			background: #fff;
			padding:6px 4px;
			font-size:14px;
			position: relative;
			z-index: 12;
			width:104%;
			margin-right: -18px;
			margin-bottom: -20px;
			margin-left: 6px;
		}
		.contain-footer{color: #000!important;
			position: absolute;
		    width: auto;
		    bottom: 0;
		}
		.contain-footer .container-grid{
			background: rgb(0, 0, 0);
			color: rgb(255, 255, 255);
		}
		.contain-footer .container-grid .middle1 div{
			margin-top: 40px;
    		margin-left: 10px;
    	}
		.btn-close-menu{
			color:#000!important;
			margin-top:0!important;
			margin:left!important;
			position: absolute!important;
			margin: 0!important;
			margin-top:10px!important;
			margin-right: 40px!important
		}
		.menu-list li{
			color: #000!important;
		    margin: 0!important;
		    padding: 0!important;
		    /*line-height: 65px;
		    font-size:70px;*/
		}
		.footer-borde1{
			border: solid #bf9d59;
			height:230px;
			margin-bottom:33px;
			padding:12px 0 0 14px;
			position: relative;
			z-index: 1;
			width:100%;						    
		}
		.footer-borde1 .border2{
			border: solid #bf9d59;
			margin-left: 10px;
			margin-top: 10px;
			padding:28px;
			position: relative;
			z-index: 12;
			width:106%;
			height:236px;
			margin-bottom: -10px;
		}
		.footer-Hr{
			border-top: solid #bf9d59!important;
			height:1px;
			margin:10px 0;
			margin-bottom:30px;
			padding:0;
			width:250px;
		}
		.footer-Hr-direccion{
			border-top: solid #fff 1px!important;
			height:1px;
			margin:10px 0;
			padding:0;
			width:60px;
			display: inline-block;
    		vertical-align: bottom;
		}
		.footer-menu{
			padding-left:50px!important;
			margin-top:100px!important;	    
		}
		*+address, *+dl, *+fieldset, *+figure, *+ol, *+p, *+pre, *+ul{
			margin:0!important;
			padding:0!important;
			padding-bottom:10px;
			color:#000;
			font-weight:100;
		}
		.top-logo{
		    position: absolute;
		}
		.container-footer{
			position: absolute;
			width: 90%;
			bottom: 6%;
		}
		.nav-hamburguesa{
			padding:10px 40px;
		    position: fixed;
		    bottom: 0;
		    right: 0;
		    height:45px;
		    width: 45px;
		    z-index: 999;
		    display:none;
		    height:1px;
		    opacity:0
		}
		.detail_img{
			margin-left:-4px
		}
		.titles-borde{
			font-weight:400;
			text-shadow: 1px 1px 1px #fff;
		    color: #000!important;
		}
		.texto-borde{
		    font-weight: 100;
		    text-shadow: 1px 1px 1px #fff;
		    color: #000!important;
		}
		/* ----------- CSS ----------- */
		/* ----------- PAGINAS ----------- */
	/* ----------- FIN VERO ----------- */

/*  ---------- GENERALES    */
	.uk-icon-link {
	    color: #000!important;
	}
	#cotizacion-fixed{
		top:0;
		right:0px;
		width:30px;
		z-index: 1011;
	}
	#cotizacion-fixed div{
		width: 40px;
		position: fixed;
		right: 0;
		top: 50%;
		margin-top: -150px;
	}
	#cotizacion-fixed img{
		box-shadow: 0 0 20px white;
		border-radius: 10px 0 0 10px;
	}
	a{	
		margin:0;
		padding:0;
		text-decoration: none!important;
	}
	a,
	a:hover,
	.uk-button,
	.uk-button:hover,
	.transicion,
	.transicion:hover{
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
	}

	
	.uk-button{
		border:solid 1px #bf9d59!important;
		border-radius:30px;
		font-weight: 700;
		font-size:14px;
		padding:24px 0;
		text-align:center;
		text-transform: none;
		width:200px;
		line-height:1px;
	}

	button{
		border:solid transparent!important;
		border-radius:30px;
		font-weight: 700;
		font-size:14px;
		padding:20px 0;
		margin-top:20px;
		text-align:center;
		text-transform: none;
		width:200px;
		line-height:1px;
	}
	.uk-button-primary{
		color:#fff;
		background:#000; 
		padding:14px 0 12px 0;
		margin-top:20px;
		border:solid 1px #bf9d59!important;
	}
	button:hover,
	.uk-button-primary:focus, 
	.uk-button-primary:hover{
		color:#bf9d59;
		background:#fff; 
		border:solid 1px #bf9d59!important;
	}
	.close:hover{
		border:solid transparent!important;
	}
	.btn-close-menu:hover{
		background:transparent!important;
	}
	.uk-button-default{
		color:#fff;
		background:#000; 
		font-size:18px!important;
		padding:12px 0!important;
		margin-top:20px!important;
		font-weight: 400!important;
		border:solid 1px #bf9d59!important;
	}
	.uk-button-default:hover{
		color:#bf9d59;
		background:transparent; 
	}
	#totop{
		position: fixed;
		right: 35px;
	}
	#totop a{
		color: white;
		font-size: 30px;
		height: 60px;
		width: 60px;
	}
	h1{
		font-size: 1.2em;
	}
	h2{
		font-size: 1.1em;
	}
	h3,h4,h5,h6{
		font-size: 1em;
	}
	.alpha0{
		opacity: 0;
	}
	.claro,
	.alpha-1-5:hover{
		opacity:.6;
	}
	.oscuro,
	.alpha-1-0:hover{
		opacity:0;
	}
	.alpha-1-0,
	.alpha-1-5,
	.claro:hover,
	.oscuro:hover,
	.alpha1hover:hover{
		opacity: 1;
	}
	.margin-0{
		margin: 0;
	}
	.margin-top-5{
		margin-top: 5px;
	}
	.margin-top-10{
		margin-top: 10px;
	}
	.margin-top-15{
		margin-top: 18px;
	}
	.margin-top-20{
		margin-top: 20px;
	}
	.margin-top-25{
		margin-top: 25px!important;
	}
	.margin-top-30{
		margin-top: 30px;
	}
	.margin-top-50{
		margin-top: 50px;
	}
	.margin-top-100{
		margin-top: 100px;
	}
	.margin-top-menos-150{
		margin-top: -150px;
	}
	.margin-top-menos-100{
		margin-top: -100px;
	}
	.margin-top-menos-50{
		margin-top: -50px;
	}
	.margin-top-menos-20{
		margin-top: -20px;
	}
	.margin-top-menos-10{
		margin-top: -10px;
	}
	.margin-bottom-15{
		margin-bottom: 15px;
	}
	.margin-bottom-50{
		margin-bottom: 50px;
	}
	.margin-left-150{
		margin-left:150px;
	}
	.margin-left-120{
		margin-left:120px;
	}
	.margin-left-100{
		margin-left:100px;
	}
	.margin-left-50{
		margin-left:50px;
	}
	.margin-left-25{
		margin-left:25px;
	}
	.margin-left-10{
		margin-left:10px;
	}
	.margin-right-120{
		margin-right:120px;
	}
	.margin-right-50{
		margin-right:50px;
	}
	.margin-right-25{
		margin-right:25px;
	}
	.margin-right-10{
		margin-right:10px;
	}
	.margin-h-5{
		margin-left: 5px;
		margin-right: 5px;
	}
	.margin-h-50{
		margin-left:50px;
		margin-right:50px;
	}
	.margin-v-20{
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.margin-v-25{
		margin-bottom: 25px;
		margin-top: 25px;
	}
	.margin-v-50{
		margin-bottom: 50px;
		margin-top: 50px;
	}
	.margin-v-70{
		margin-bottom: 70px;
		margin-top: 70px;
	}
	.margin-right-20{
		margin-right: 20px;
	}
	.margin-right-menos-50{
		margin-right: -45px;
	}
	.margin-right-menos-20{
		margin-right: -15px;
	}
	.padding-bottom-10{
		padding-bottom: 10px;
	}
	.padding-bottom-20{
		padding-bottom: 20px;
	}
	.padding-bottom-50{
		padding-bottom: 50px;
	}
	.padding-bottom-60{
		padding-bottom: 60px;
	}
	.padding-bottom-100{
		padding-bottom: 100px;
	}
	.padding-bottom-200{
		padding-bottom: 200px;
	}
	.padding-top-5{
		padding-top: 5px;
	}
	.padding-top-10{
		padding-top: 10px;
	}
	.padding-top-20{
		padding-top: 20px;
	}
	.padding-top-30{
		padding-top: 30px;
	}
	.padding-top-40{
		padding-top: 40px;
	}
	.padding-top-50{
		padding-top: 50px;
	}
	.padding-top-100{
		padding-top: 100px;
	}
	.padding-v-3{
		padding-bottom: 3px;
		padding-top: 3px;
	}
	.padding-v-5{
		padding-bottom: 5px;
		padding-top: 5px;
	}
	.padding-v-10{
		padding-bottom: 10px;
		padding-top: 10px;
	}
	.padding-v-20{
		padding-bottom: 20px;
		padding-top: 20px;
	}
	.padding-v-20-50{
		padding-bottom:70px;
		padding-top: 30px;
	}
	.padding-v-50{
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.padding-v-100{
		padding-bottom: 100px;
		padding-top: 100px;
	}
	.padding-left-10{
		padding-left: 10px;
	}
	.padding-left-20{
		padding-left: 20px;
	}
	.padding-left-50{
		padding-left: 50px;
	}
	.padding-left-100{
		padding-left: 100px;
	}
	.padding-right-10{
		padding-right: 10px;
	}
	.padding-right-20{
		padding-right: 20px;
	}
	.padding-right-50{
		padding-right: 50px;
	}
	.padding-h-5{
		padding-left: 5px;
		padding-right: 5px;
	}
	.padding-h-10{
		padding-left: 10px;
		padding-right: 10px;
	}
	.padding-h-20{
		padding-left: 20px;
		padding-right: 20px;
	}
	.padding-h-30{
		padding-left: 30px;
		padding-right: 30px;
	}
	.padding-h-50{
		padding-left: 50px;
		padding-right: 50px;
	}
	.padding-h-70{
		padding-left: 70px;
		padding-right: 70px;
	}
	.padding-0{
		padding: 0px;
	}
	.padding-5{
		padding:5px;
	}
	.padding-10{
		padding:10px;
	}
	.padding-15{
		padding:15px;
	}
	.padding-20{
		padding:20px;
	}
	.padding-30{
		padding:30px;
	}
	.padding-40{
		padding:40px;
	}
	.padding-50{
		padding:50px;
	}
	.min-height-150px{
		min-height: 150px;
	}
	.min-height-250px{
		min-height: 250px;
	}
	.max-height-300px{
		max-height: 300px;
	}
	.min-height-500px{
		min-height: 500px;
	}
	.max-width-200{
		max-width: 200px;
	}
	.max-width-600{
		max-width: 600px;
	}
	.pointer{
		cursor: pointer;
	}
	#map{
		min-height: 400px;
	}
	.text-5{
		font-size: .5em;
	}
	.text-6{
		font-size: .6em;
	}
	.text-xs,
	.text-7{
		font-size: .7em;
	}
	.text-8{
		font-size: .8em;
	}
	.text-sm,
	.text-9
	{
		font-size: .9em;
	}
	.text-11
	{
		font-size: 1.1em;
	}
	.text-lg{
		font-size: 1.2em;
	}
	.text-xl{
		font-size: 1.5em;
	}
	.text-xxl{
		font-size: 2em;
	}
	.text-xxxl{
		font-size: 3em;
	}

	.text-v{
		writing-mode: vertical-lr;
		transform: rotate(180deg);
	}
	.uk-text-bold{
		font-weight: 600;
	}
	.uk-text-light{
		font-weight: 300;
	}

	.margin-0{
		margin: 0px;
	}
	/* danger */
	.uk-button{
		font-weight: 700;
		text-transform: none;
	}
	.uk-button-danger{
		background: #f00;
		color: #fff;
	}
	.uk-button-danger:active,
	.uk-button-danger.uk-active{
		background: #d00;
		color: #fff;	
	}
	.uk-button-danger:hover,
	.uk-button-danger:focus{
		background: #a00;
		color: #fff;
	}

	/* personal */
	.uk-button-personal {
		color:#fff;
		background:#000; 
		padding:24px 0;
		border:solid 1px #bf9d59;
	}
	/* Hover + Focus */
	.uk-button-personal:active,
	.uk-button-personal.uk-active,
	.uk-button-personal:hover,
	.uk-button-personal:focus {
		  background-color: white;
		  border: solid 2px #675f53;
		  color: #675f53;
	}

	/* slider */
	.uk-button-slider {
		  background: rgba(0,0,0,.5);
		  color: white;
		  border: solid 2px white;
	}
	.uk-button-slider:active,
	.uk-button-slider.uk-active,
	.uk-button-slider:hover,
	.uk-button-slider:focus {
		box-shadow: 0 0 20px white;
		background-color: black;
		border: solid 2px white;
		color: white;
	}

	/* Login */
	.uk-button-login{
		background: white;
		color: red;
	}

	/* registro */
	.uk-button-registro {
		  background: #59a168;
		  border-radius: 15px;
		  color: white;
		  border: solid 2px #59a168;
		  padding-left: 20px;
		  width: 100%;

	}
	/* Hover + Focus */
	.uk-button-registro:active,
	.uk-button-registro.uk-active,
	.uk-button-registro:hover,
	.uk-button-registro:focus {
		  background-color: transparent;
		  border: solid 2px #59a168;
		  color: #59a168!important;

	}

	/* Footer */
	.uk-button-fotter {
	  background: white;
	  border-radius: 10px;
	  color: #2d63a3;
	  margin-left: 5px;
	  width: 120px;
	  padding-left: 20px;

	}
	/* Hover + Focus */
	.uk-button-fotter:active,
	.uk-button-fotter.uk-active,
	.uk-button-fotter:hover,
	.uk-button-fotter:focus {
	  background-color: #0079b0;
	  color: white;
	}
	/*AQUI PODEMOS CAMBIAR EL COLOR DEL BORDER BOTTOM Y EL COLOR DE ICONO Y EL NOMBRE 
	  YA QUE LOGEADO*/
	.linea-button{ 
		border-bottom: solid 2px #59a168;
		color: #ff7344;
	}
	.outline-5{
		outline: solid 5px white;
	}
	.outline-10{
		outline: solid 10px white;
	}

	/* totop */
	.uk-button-totop,
	.uk-button-totop:hover,
	.uk-button-totop:focus,
	.uk-button-totop:active,
	.uk-button-totop.uk-active {
	  background-color: #333;
	  color: #fff;
	}
	/*  claro */
	.uk-button-white {
	  background-color: #fff;
	  color: #333;
	  border: 1px solid #fff;
	}
	/* Hover + Focus */
	.uk-button-white:hover,
	.uk-button-white:focus {
	  background-color: #eee;
	  color: #111;
	}
	/* OnClick + Active */
	.uk-button-white:active,
	.uk-button-white.uk-active {
	  background-color: #ddd;
	  color: #000;
	}
	/*  TOP */
	.uk-button-top {
	  background-color: #000;
	  border: 1px solid #000;
	  color: #EEE;
	  font-size: 18px;
	  padding-top: 5px;
	}
	/* Hover + Focus */
	.uk-button-top:hover,
	.uk-button-top:focus {
	  background-color: #000;
	  color: #fff;
	}
	/* OnClick + Active */
	.uk-button-top:active,
	.uk-button-top.uk-active {
	  background-color: #000;
	  color: #CCC;
	}
	.uk-lightbox {
		background: rgba(0,0,0,.7)!important;
	}
	.uk-notification-message{
		background: none!important;
		color: white;
		text-align: center;
	}
	.uk-notification-message div{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	textarea{
		resize:none;
	}
	.z1{
		z-index: 1;
	}
	.z2{
		z-index: 2;
	}

	/* SCROLL */
	::-webkit-scrollbar {
	  width: 8px;
	}
	/* Track */
	::-webkit-scrollbar-track {
	  box-shadow: inset 0 0 0 transparent; 
	  border-radius: 8px;
	  background: transparent;
	}
	/* Handle */
	::-webkit-scrollbar-thumb {
	  border-radius: 8px;
	  background: #CCC;
	}
	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	  background: transparent; 
	}

/* ----------- XML SITE MAP */
	urlset{
		background: url(../img/design/logo-white.png) no-repeat top center #00a193;
		padding-top: 110px;
	}
	url {
		background: #fff;
		display: block;
		padding: 10px
	}
	loc{
		display: block;
		margin: 0 auto;
		width: 1200px;
	}

/* ----------- MEDIA QUERY  */

	@media (min-width: 1800px){
		.bg-header-2{
			background-size: 100%;
		}
		.bg-central{
			background-size: 100%;
			height: 500px; 
		}
	}
	@media (max-width: 1600px){/*Tamaño xl*/

	}
	@media (max-width: 1460px){
		h2{
			font-size:32px!important;
		}
		h3{
			font-size:24px!important; 
		}
		h4{
			font-size: 24px!important;
			padding-top:24px!important;
			padding-left:50px!important;
		}
		.pad-container{
			padding: 0 6%;
		}
		.detail_img {
		    margin-left: 0;
		    margin-top: 100px;
		    width: 20%;
		}
		.texto-vertical-2,
		.header-text{
			font-size:14px
		}
		.p{
    		font-size: .9em;
		}
		.margins-top-20{
			margin-top:0;
		}
		
		.container_empezar h2{
			margin-top:70px!important;
			font-size: 32px!important;
		}
		.container_empezar .h2-buttom {
		    padding-bottom:0;
		}
		.container_empezar .empezamos p{
			font-size: 17px!important;
    		line-height: 19px!important;
    		margin-bottom: 14px;
		}
		.hr-small {
		    margin: 0;
		}
		.menu-list li{
			font-size:40px!important;
			line-height:44px!important;
		}
		.uk-button-default,
		.uk-button-default p{
			font-size:12px!important;
		}
		.uk-button-primary{
			padding: 10px 30px 4px 30px!important;
		}
		
		.margin-contain{
			margin-left:50px;
		}
		.services li{
			font-size:16px;
		}
		.footer-borde1{
			/*width:180px;	
			padding: 0;	*/			    
		}
		.footer-borde1 .border2{
			/*width:180px;
			padding:30px 10px;*/
		}
	}
	@media (max-width: 1200px){/*Tamaño l*/
		.btn-width-70 {
		    width: 100%!important;
		}
		.btn-width-80 {
		    width: 100%!important;
		}
		.uk-button-primary {
		    padding: 10px 0!important;
		    width: 100%!important;
		}
		.contain-footer{
			position: relative!important;
			margin-top:10px;
			width:100%;
			margin-left: auto;
			margin-right:auto;
		}
		.movil{
			display:none!important;
			opacity:0!important;
		}
		.footer-borde1 .text-11{
			font-size:14px;
			/*margin-left: -40px;*/
		}
		.footer-borde1{
			margin-left: -35px;
		}
		.uk-container{
			margin:0;
			padding:0;
		}
		.hr-small {
		    margin: 0;
		}
		.pad-container {
		    padding:0 4%!important;
		}
		.text_menu{
			border:solid #fff;
			border-bottom:#000;
			margin: 28px 10px 2px 2px!important;
		}
		.detail_img{
			width:15%!important;
			margin-top:65px;
		}
		h2 {
		    font-size: 26px!important;
		}
		.width-56 {
		    width: 6%;
    		margin-top: 12px;
		}
		.container_empezar h2{
			margin-top:80px!important;
			font-size: 30px!important;
		}
		.container_empezar .h2-buttom {
		    padding-bottom:0;
		}
		.container_empezar .empezamos p{
			font-size: 17px!important;
    		line-height: 19px!important;
    		margin-bottom: 0;
		}
	}
	@media (max-width: 1050px){/*Tamaño l plus*/
		.menu-list li{
			margin-left:30px!important;
			padding-left:0px!important;
		    font-size: 36px!important;
		    line-height:40px!important;
		}
		.footer-borde1 .border2{
			padding: 28px 40px 28px 20px;
		}
		.footer-borde1{
			padding:0!important;
		}
		.left-animate{
		  -webkit-animation:bounceInLeft 2s alternate; 
		  animation:bounceInLeft 2s alternate;
		}
		.right-animate{
		  -webkit-animation:bounceInRight 2s alternate; 
		  animation:bounceInRight 2s alternate;
		}
		.uk-button-primary {
		    padding: 12px 30px 12px 30px!important;
		}
	}
	@media (max-width: 960px){ /*Tamaño m*/
		.full-container{
		height:auto!important;
		}
		.nav-hamburguesa{
		    display:block;
		    height:auto;
		    opacity:1;
		    margin-right: 14px;
    		margin-bottom:14px;
		}
		.uk-icon-button {
		    width: 50px!important;
		    height:50px!important;
		    margin-left: -10px;
		    margin-bottom:-10px;
		    background:#bf9d59;
		}
		.fa-bars:before{
			font-size:30px!important;
			color: #fff;
		}
		.eventos{
			margin-top: 0px;
		}	
		.header-eventos{
			position: absolute; 
			top:120px; 
			right: 0px;
		}
		.container-mision{
			border-left:none;
		}
		.container-vision{
			border-right:none;
		}

		.height-100{
			height:auto!important;
		}
		.margin-left-10{
			margin-left:0;
		}
		.margin-right-10{
			margin-right:0;
		}
		.movil-pad-40{
			margin:10px 160px;
		}
		.position-submenu{
			top:60px!important;
			position:relative!important;
		}
		.menu-pc{
			display:none!important;
			opacity:0!important
		}
		.menu-movil{
			display: block!important;
			opacity: 1!important;
		}
		.menu-list li {
		    margin-left: 30px!important;
		    padding-left: 0px!important;
		    font-size: 34px!important;
		    line-height: 50px!important;
		}
		.contain-footer{
			position: relative!important;
			margin-top:10px;
			width:100%;
			margin-left: auto;
			margin-right:auto;
		}
		.contain-footer .container-grid{
			margin: 0;
    		padding: 0
		}
		.contain-footer .container-grid .middle1{
			margin: 0;
    		padding: 0;
		}
		.contain-footer .container-grid .middle1 div{
			margin-top:0!important;
    		margin-left:0!important;
		}
		.contain-footer .container-grid .middle2{
			margin: 0;
    		padding: 0;
    		margin-left: auto;
			margin-right:auto;
		}
		.height-20{
			height:12vh;
		}
		.btn-close-menu{
			margin-top: 0px;
    		margin-right: 50px!important;
		}
		.footer-ful-movil{
			width:100%;
		}
		.bloques-footer{
			display: inline-block!important;
			vertical-align:middle!important;
		}
		.text-6 {
		    font-size:.9em;
		}
		.movil-none{
			display:none!important;
			opacity:0;
			height: 1px;
		}
		.container-footer{
			position: relative!important;
			margin-left: 0;
			top: 10px;
			width: 90%;
			top:-60px;
		}
		.top-logo{
		    position: absolute!important;
		    bottom:30px;
		    top: -35px;
		    left:0;
		}
		.movilLogo{
			margin-left:40px
		}
		h2 {
		    margin-top: 30px;
		}
		.container-logo{
			width: 80px!important;
			height: 80px;
			margin-top: 55px;
			margin-bottom: 40px;
		}
	}
	@media (max-width: 820px){
		.menu-list li{
			/*padding-left:0!important;
			font-size: 18px!important;
    		line-height:20px!important;*/
		}
		.movil-pad-40 {
		    margin: 10px 10px;
		}
		.margin-v-70 {
		    margin-bottom:30px;
		    margin-top:30px;
		}
		.container-form{
			margin:0;
		}
		.contain-footer{
			position: relative!important;
			margin-top:10px;
			width:100%;
			margin-left: auto;
			margin-right:auto;
		}
		.container-form .uk-grid-margin{
			margin:10px;
		}
		.container-form .uk-grid{
			margin:0;
			padding:0;
		}
		.container-form .borde-1{
			padding-top: 4px;
			margin-top:4px
		}
		.contain-footer .container-grid .middle1 div{
			margin:0;
			padding:0;
		}
		.contain-footer .container-grid .middle2 div{
			margin:0;
			padding:0;
		}
		.menu-list li{
			/*font-size: 44px!important;
		    line-height: 44px!important;*/
		}
		.box-shadown{
			-webkit-box-shadow: -2px 0px 5px 0px rgba(0,0,0,0);
			-moz-box-shadow: -2px 0px 5px 0px rgba(0,0,0,0);
			box-shadow: -2px 0px 5px 0px rgba(0,0,0,0);
		}
	}
	@media (max-width: 640px){/* Tamaño s*/
		.movil-pad-40 {
		    margin: 10px 10px;
		}
		.margin-v-70 {
		    margin-bottom:30px;
		    margin-top:30px;
		}
		.contain-footer{
			position: relative!important;
			margin-top:10px;
			width:100%;
			margin-left: auto;
			margin-right:auto;
		}
		.menu-list li{
			/*padding-left:0!important;
			font-size: 18px!important;
    		line-height:30px!important;*/

		}
		.bloques-footer{
			width:100%!important;
		}
		.footer-borde1{
			margin:0px;
			padding: 10px!important;
		}
		.top-logo{
			position:relative!important;
		}
		.uk-navbar-center:not(:only-child){
			top: 10px;
    		left: 80px;
		}
		.container-logo{
			width: 80px!important;
			height: 80px;
			margin-top: 55px;
			margin-bottom:0;
		}
		.width-56 {
		    width: 17%;
		    margin-top: 0px;
		}
		.detail_img {
		    width: 25%!important;
		    margin-top:10px;
		}
		.container_empezar .empezamos p {
		    font-size: 20px!important;
		    line-height: 24px!important;
		    margin-bottom: 40px;
		}
	}
	@media (max-width: 550px){
		.movil-pad-40 {
		    margin: 10px 10px;
		}
		.margin-v-70 {
		    margin-bottom:30px;
		    margin-top:30px;
		}
		.margin-contain{
			margin-left:20px;
		}
		.contain-footer{
			position: relative!important;
			margin-top:10px;
			width:100%;
			margin-left: auto;
			margin-right:auto;
		}
		.menu-list{
			margin-bottom:30px;
		}
		.menu-list li {
		    margin-left: 0px!important;
		    padding-left: 0px!important;
		    font-size: 24px!important;
		    line-height: 50px!important;
		}
		.footer-borde1{
			width:98%;
		}
		.footer-borde1 .border2{
			width:110%;
			padding: 30px 60px;
		}
		.footer-menu{
			margin-left:50px;
		}
	}

