.ajax-file-upload-statusbar{
  border: 1px solid #394F61;
  padding: 2%;
  width: 96%;
}
.odd
{
	background-color:#EDEBEB;
}
.even
{
	background-color:#FFFFFF;
}

.ajax-file-upload-filename {
  display: inline-block;
  width: 80%;
  margin: 0 5px 0px 0px;
  color: #807579
  vertical-align: middle;
}
.ajax-file-upload-preview
{
	display:block;
	vertical-align:middle;
	border:1px solid #C7CCD1;
  width: 100%;
}
.ajax-file-upload-progress {
  margin: 0 10px 0px 10px;
  position: relative;
  width: 80%;
  border: 1px solid #ddd;
  padding: 1px;
  border-radius: 3px;
  display: inline-block;
  vertical-align:middle;
  color:#FFFFFF;
}
.ajax-file-upload-bar {
  background-color: #337AB7;
  width: 0;
  height: 20px;
  border-radius: 3px
  color:#FFFFFF;
  display: inline-block;
  vertical-align:middle;
  margin:0px;
}
.ajax-file-upload-percent {
  position: absolute;
  display: inline-block;
  top: 3px;
  left: 48%
}
.ajax-file-upload-red {
  -moz-box-shadow: inset 0 39px 0 -24px #e67a73;
  -webkit-box-shadow: inset 0 39px 0 -24px #e67a73;
  box-shadow: inset 0 39px 0 -24px #e67a73;
  background-color: #e4685d;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  color: #fff;
  font-family: arial;
  font-size: 13px;
  font-weight: normal;
  padding: 4px 15px;
  text-decoration: none;
  text-shadow: 0 1px 0 #b23e35;
  cursor: pointer;
  vertical-align: middle;
  margin-right:5px;
}
.ajax-file-upload-green {
  background-color: #77b55a;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  display: inline-block;
  color: #fff;
  font-family: arial;
  font-size: 13px;
  font-weight: normal;
  padding: 4px 15px;
  text-decoration: none;
  cursor: pointer;
  text-shadow: 0 1px 0 #5b8a3c;
  vertical-align: middle;
  margin-right:5px;
}
.ajax-file-upload {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 20px;
  cursor:pointer;
  line-height:20px;
  height:auto;
  margin-top:30px;
  margin-bottom:30px;
  margin-right:10%;
  display: inline-block;
  background: #fff;
  border: 1px solid #82305c;
  color: #888;
  text-decoration: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 10px 20px;
  color: #fff;
  background: #82305c;
  border: none;
  vertical-align: middle;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
  
.ajax-file-upload:hover {
  background: #555;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.ajax-upload-dragdrop
{
	border:2px dashed #AAA;
	width:90%;
	color: #888;
	text-align:center;
	vertical-align:middle;
	padding: 20px 5% 20px 5%;
}
.state-hover
{
		border:2px solid #AAA;
}
.ajax-file-upload-container
{
  width: 100%;
}

@media (max-width: 640px) {
  .ajax-file-upload {
    width: 90%;
  }
}
