		<header class="uk-width-3-4 uk-align-left" style="position:absolute;">
				<div class="uk-width-1-1 uk-grid-collapse">
					<div uk-grid class="left-0 uk-grid-collapse">

						<!-- Menú escritorio -->
						<div class="uk-width-1-4@m uk-visible@s uk-grid-collapse" >
							<nav class="uk-navbar-container uk-navbar-transparent uk-grid-collapse" uk-navbar>
								<div class="uk-navbar-center uk-grid-collapse">
									<img src="./img/design/logo.png">
								</div>
							</nav>
						</div>
						<div class="uk-width-expand@m uk-text-center uk-grid-collapse left-0" uk-grid>
						    <div class="uk-width-1-4@m uk-grid-collapse"></div>
						    <div class="uk-width-expand@m uk-grid-collapse uk-text-right uk-align-middle" style="font-size:16px; padding-right:40px">
						    	<strong>OFICINAS:  3323016610 / WHATSAPP: 3338096501</strong>
						    </div>
						    <div class="uk-width-auto@m uk-grid-collapse uk-align-middle uk-text-right margin-right-30header">
						        <strong class="uk-text-right" style="font-size:16px"> ES / EN </strong>&nbsp;&nbsp;
						    </div>
						</div>
						<!-- Botones de Logeo
						<div class="uk-width-1-1">
							'.$loginButton.'
						</div> -->
					</div>
				</div>
			</header>